// color palette - these colors will be the color swatches of the Colors section

$color-1: #fc3f21; // Red Hue - Action color
$color-2: #0b43dc; // Royal Blue
$color-3: #1bb476; // Bright Green
$color-4: #fed040; // Yellow
$color-5: #fff; // White
$color-6: #000; // Black

// additional colors

$success: #6fce72; // green
$alert: $color-3; // red
